---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>{{ site.language }}</language>
    <lastBuildDate>{{ build.rfc822Date }}</lastBuildDate>
{% for entry in collections.all %}
{% if entry.url and not entry.data.noindex and not entry.data.eleventyExcludeFromCollections %}
    <item>
      <title>{% if entry.data.title %}{{ entry.data.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
      <link>{{ (site.url + entry.url) | url }}</link>
      <guid isPermaLink="true">{{ (site.url + entry.url) | url }}</guid>
      <pubDate>{{ build.rfc822Date }}</pubDate>
      <description><![CDATA[{% if entry.data.description %}{{ entry.data.description }}{% else %}{{ site.description }}{% endif %}]]></description>
    </item>
{% endif %}
{% endfor %}
  </channel>
</rss>
