---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.name }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}</link>
    <language>{{ site.language }}</language>
    {%- for project in collections.work | reverse %}
      <item>
        <title>{{ project.data.title }}</title>
        <description>{{ project.data.summary }}</description>
        <link>{{ project.url | absoluteUrl(site.url) }}</link>
        <guid>{{ project.url | absoluteUrl(site.url) }}</guid>
        <pubDate>{{ project.date | dateToRfc822 }}</pubDate>
      </item>
    {%- endfor %}
  </channel>
</rss>
